<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::header('报价维护')}">
    <meta charset="UTF-8">
</head>
<body>
<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center;">
        <h3 class="panel-title">报价维护</h3>
    </div>
    <div class="panel-body" style="text-align: center;height:550px;">
        <!--工具栏-->
        <div id="tb" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openQuote()">打开</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delQuote()">删除</a>
            </div>
            <div>
                报价书标题:  <input class="easyui-textbox" style="width:120px" id="title">
                询价书标题:  <input class="easyui-textbox" style="width:120px" id="eTitle">
                <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="doSearch()">搜索</a>
            </div>
        </div>
        <!--产品数据表格-->
        <table id="dg" class="easyui-datagrid"></table>
    </div>
</div>
<script>
    $(function () {
        //获取数据
        $('#dg').datagrid({
            url:ctx+'supplier/quote',
            pagination:true,//分页
            fit:true,
            fitColumns:true,
            singleSelect:true,//只能选中一行
            pageList:[5,6,8,10,12],
            pageSize:5,
            toolbar:'#tb', //工具栏
            columns:[
                [

                    {field:'id',title:'序号',align:'center',width:'10%'},
                    {field:'queTitle',title:'报价书标题',align:'center',width:'20%'},
                    {field:'queDate',title:'报价提交时间',align:'center',width:'25%'},
                    {field:'enquire',title:'对应的询价书',align:'center',width:'20%',
                        formatter: function(value,row,index){
                            if (row.enquire){
                                return row.enquire.enquireName;
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'endDate',title:'询价截止时间',align:'center',width:'25%'},
                ]
            ]
        });
    })
    //搜索
    function doSearch() {
        $('#dg').datagrid('load',{
            title: $('#title').val(),
            eTitle: $('#eTitle').val()
        });
    }
    //查看详情
    function openQuote() {
        var row=$("#dg").datagrid('getSelected');
        if (row){
                $("#center").panel({
                    href:ctx+"supplier/selDetail?id="+row.id
                });
        } else{
            $.messager.alert("系统信息","请选择要查看的报价！");
        }
    }

    //删除
    function delQuote() {
        var row=$("#dg").datagrid('getSelected');
        if (row){
            $.messager.confirm('确认','请问是否要删除该报价？',function(r){
                if (r){
                    $.post(ctx+"supplier/delQuote",{id:row.id},function (res) {
                        if (res>0){
                            //刷新数据
                            $("#dg").datagrid("reload");
                        }else if (res ==-1) {
                            $.messager.show({
                                title:'系统消息',
                                msg:'删除报价明细表时失败，导致删除报价表失败',
                                timeout:5000,
                                showType:'fade',
                                style:{
                                }
                            });
                        }else{
                            $.messager.show({
                                title:'系统消息',
                                msg:'删除失败',
                                timeout:3000,
                                showType:'slide'
                            });
                        }

                    })
                }
            });
        }else{
            $.messager.alert("系统信息","请选择要删除的产品类别！");
        }

    }
    //添加或修改的提交事件
    function saveUser(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if (result>0){
                    //关闭添加框
                    $('#dlg').dialog('close');
                    //刷新dataGrid
                    $('#dg').datagrid('reload');
                } else {
                    $.messager.alert("提示","提交失败！");
                }
            }
        });
    }
</script>

</body>
</html>
