<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://pollix.at/thymeleaf/shiro">
<head th:replace="~{common::header('供应商密码修改')}">
    <meta charset="UTF-8">
</head>
<body>
<script>
    $(function () {
        //获取登录的用户名
        var name=$("#name").text();
        $("#loginId").val(name);
        //自定义验证
        $.extend($.fn.validatebox.defaults.rules, {
            equals: {
                validator: function(value){
                    return value != $("#password").val();
                },
                message: '旧密码与新密码不能一致！！'
            },
            lengths:{
                validator: function(value,param){
                    return value.length>=param[0]&value.length<=param[1];
                },
                message: '密码长度必须在{0}到{1}位之间'
            },
            repass:{
                validator: function(value){
                    return /^[a-zA-Z0-9_]+$/i.test(value);
                },
                message: '密码只能包含大写、小写、数字和下划线'
            }
        });
    })
    //提交
    function save() {
        $("#ff").form('submit',{
            url:ctx+"supplier/updPass",
            success:function(data){
               if (data ==-1){
                   alert("密码错误，请重新输入！！！");
               }else if (data>0){
                   alert("已成功修改密码");
                   window.location.href=ctx+"sysUsers/loginOut";
               }
            }
        })
    }
</script>
<p hidden="hidden" id="name"><shiro:principal/></p>
<div class="panel panel-info" style="margin: 0 auto;">
    <div class="panel-heading" style="text-align: center;">
        <h3 class="panel-title">供应商密码修改</h3>
    </div>
    <div class="panel-body" style="text-align: center;">
        <form id="ff" method="post" style="width:400px;margin: 30px auto;">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="loginId" name="loginId" style="width:100%" readonly data-options="label:'用户名:'">
            </div>
            <div style="margin-bottom:20px" id="divpass">
                <input class="easyui-textbox"  type="password" id="password" name="password" style="width:100%" data-options="label:'旧密码:',required:true,">
                <div id="message" style="color: red;display: inline;padding-top: 10px;"></div>
            </div>

            <div style="margin-bottom:20px">
                <input class="easyui-textbox"type="password" id="repass" name="repass" style="width:100%" data-options="label:'新密码:',required:true,validType:['lengths[6,12]','repass','equals']" >
            </div>
        </form>
        <div style="text-align:center;padding:5px 0">
            <button class="easyui-linkbutton" style="width:80px" onclick="save()">确认</button>
        </div>
    </div>
</div>
</body>
</html>

