<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::header('查看合同')}">
  <meta charset="UTF-8">
</head>
<body>
<div class="panel panel-info">
  <div class="panel-heading" style="text-align: center;">
    <h3 class="panel-title">查看合同</h3>
  </div>
  <div class="panel-body" style="height:548px;">
    <!--工具栏-->
    <div id="tb" style="padding:5px;height:auto">
      <div>
        物资名称:  <input class="easyui-textbox" style="width:120px" id="name">
        合同号:  <input class="easyui-textbox" style="width:120px" id="num">
        提交时间: <input class="easyui-datebox" style="width:120px" id="date1"> — <input class="easyui-datebox" style="width:120px" id="date2">
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="doSearch()">搜索</a>
      </div>
    </div>
    <!--产品数据表格-->
    <table id="dg" class="easyui-datagrid"></table>
  </div>
</div>
<script>
    $(function () {
        //获取数据
        $('#dg').datagrid({
            url:ctx+'supplier/contract',
            pagination:true,//分页
            fit:true,
            fitColumns:true,
            singleSelect:true,//只能选中一行
            pageList:[5,6,8,10,12],
            pageSize:5,
            toolbar:'#tb', //工具栏
            columns:[
                [
                    {field:'id',title:'序号',align:'center',width:'5%'},
                    {field:'contNum',title:'合同编号',align:'center',width:'15%'},
                    {field:'contItem',title:'合同的标',align:'center',width:'15%'},
                    {field:'contPrice',title:'合同金额',align:'center',width:'15%'},
                    {field:'materialName',title:'物资名称',align:'center',width:'30%',
                        formatter: function(value,row,index){
                            if (row.contractDetail.length>0){
                                var str="";
                                for (var i=0;i<row.contractDetail.length;i++) {
                                    str=str+row.contractDetail[i].materialName+"";
                                }
                                return str;
                            }else {
                                return value;
                            }
                        }
                    },
                    {field:'verifyDate',title:'验货时间',align:'center',width:'20%'}
                ]
            ],
            //双击事件
            onDblClickRow: function(index,data){
                $("#center").panel({
                    href:ctx+"supplier/contractDetail?id="+data.id,
                });
            }
        });
    })
    //搜索
    function doSearch() {
        $('#dg').datagrid('load',{
            name: $('#name').val(),
            num: $('#num').val(),
            date1: $('#date1').val(),
            date2: $('#date2').val(),
        });
    }
</script>
</body>
</html>