<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::header('修改报价维护')}">
    <meta charset="UTF-8">
</head>
<body>
<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center;">
        <h3 class="panel-title">修改报价维护</h3>
    </div>
    <div class="panel-body" style="text-align: center;height:550px;">
        <form id="ff" method="post">
            <input name="id" th:value="${session.quoteDetail.id}" hidden="hidden">
            <input name="quoteId" th:value="${session.quoteDetail.quoteId}" hidden="hidden">
            <table style="LINE-HEIGHT: 30px" cellSpacing=1 cellPadding=0 width="100%" bgColor=#336699 borderColorLight=#006699 border=0>
                <tr>
                    <td>
                        <table cellpadding="3" cellspacing="1" border="1" width="100%" bgcolor="#336699">
                            <tr>
                                <td>物资编码</td>
                                <td th:text="${session.quoteDetail.materialCode}"><br></td>
                                <td>物资名称</td>
                                <td th:text="${session.quoteDetail.materialName}"><br></td>
                                <td>计量单位</td>
                                <td th:text="${session.quoteDetail.measureUnit}"><br></td>
                            </tr>
                            <tr>
                                <td>单价(元/含税)</td>
                                <td>
                                    <input class="form-control" style="width: 60%;margin: 0 auto"type="number" name="unitPrice" id="unitPrice" onblur="getNum()" th:value="${session.quoteDetail.unitPrice}">
                                </td>
                                <td>数量</td>
                                <td >
                                    <input onblur="getNum()" class="form-control" style="width: 60%;margin: 0 auto"type="number" name="amount" id="amount" th:value="${session.quoteDetail.amount}">
                                </td>
                                <td>总价(元/含税)</td>
                                    <td id="sumPrice" th:text="${session.quoteDetail.sumPrice}">
                                </td>
                            </tr>
                            <tr>
                                <td>运杂费(元/含税)</td>
                                <td>
                                    <input class="form-control" style="width: 60%;margin: 0 auto" type="number" name="mixPrice" id="mixPrice" onblur="getNum()" th:value="${session.quoteDetail.mixPrice}"></td>
                                <td>其他费用(元/含税)</td>
                                <td>
                                    <input class="form-control" style="width: 60%;margin: 0 auto" type="number" name="otherPrice" id="otherPrice" onblur="getNum()" th:value="${session.quoteDetail.otherPrice}"></td>
                                <td>总计(元/含税)</td>
                                <td id="totalPrice" th:text="${session.quoteDetail.totalPrice}">
                                </td>
                            </tr>
                            <tr>
                                <td>起始到货期</td>
                                <td th:text="${#dates.format(session.quoteDetail.startDate,'yyyy-MM-dd')}"></td>
                                <td>结束到货期</td>
                                <td th:text="${#dates.format(session.quoteDetail.endDate,'yyyy-MM-dd')}">
                                <td></td>
                                <td></td>
                                </td>
                            </tr>
                            <input type="hidden" name="HBSUM" value="3">

                        </table>
                    </td>
                </tr>
            </table>
            <p></p>
            <table style="LINE-HEIGHT: 30px" cellSpacing=1 cellPadding=0 width="100%"bgColor=#336699 borderColorLight=#006699 border=0>
                <tr>
                    <td>
                        <table cellpadding="3" cellspacing="1" border="1" width="100%">
                            <tr bgcolor="#f2f8ff">
                                <td width="15%">数量合计</td>
                                <td width="25%" th:text="${session.quoteDetail.quote.sumAmount}" id="sumAmount" name="sumAmount"></td>
                                <td nowrap>总金额(元)</td>
                                <td th:text="${session.quoteDetail.quote.overallPrice}" id="overallPrice" name="overallPrice"></td>
                            </tr>
                            <tr bgcolor="#f2f8ff">
                                <td nowrap >报价书标题</td>
                                <td><input class="easyui-textbox" name="queTitle" th:value="${session.quoteDetail.quote.queTitle}"></td>
                                <td nowrap >报价有效期</td>
                                <td th:text="${#dates.format(session.quoteDetail.quote.endDate,'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr bgcolor="#f2f8ff">
                                <td>报价说明</td>
                                <td colspan="3" style="width:100%">
                                    <textarea name="quoRemark" rows="4" style="width:100%" th:value="${session.quoteDetail.quote.quoRemark}">

                                    </textarea>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
            <p></p>
            <p Align="center">
                <button type="button" onclick="goSubmit()" class="btn btn-primary" style="width: 80px;">修改</button>
                <button type="button" onclick="goBack()" class="btn btn-primary" style="width: 80px;">返回</button>
            </p>
        </form>
    </div>
</div>
<script>
    $(function () {
        getNum();
    })
    //修改
    function goSubmit(){
        $('#ff').form('submit',{
            url:ctx+'supplier/updDetail',
            success:function(data){
                if (data>0){
                    $("#center").panel({
                        href:ctx+"supplyman/Project_list"
                    });
                }else if (data ==-1){
                    $.messager.show({
                        title:'系统消息',
                        msg:'修改报价表失败',
                        timeout:5000,
                        showType:'fade',
                        style:{
                        }
                    });
                } else{
                    $.messager.show({
                        title:'系统消息',
                        msg:'修改报价明细表失败',
                        timeout:5000,
                        showType:'fade',
                        style:{
                        }
                    });
                }
            }
        });
    }
    //返回
    function goBack(){
        $("#center").panel({
            href:ctx+"supplyman/Project_list"
        });
    }
    //计算
    function getNum(){
        //总价
        var money=$("#unitPrice").val()*$("#amount").val();
        //运费，其他费用
        var other=parseFloat($("#mixPrice").val())+parseFloat($("#otherPrice").val());
        //总金额
        var sum=parseFloat(money)+other;
        //总价
        $("#sumPrice").text(money);
        //总计
        $("#totalPrice").text(sum);
        //数量合计
        $("#sumAmount").text($("#amount").val());
        //总金额
        $("#overallPrice").text(sum);
    }
</script>
</body>
</html>
